#
#
# Nathan Reed, 18/11/2009

Options -Indexes
Options -Multiviews
DirectoryIndex index.rhtml index.html

RewriteEngine On
RewriteBase /dev/stackoverflow_count/web/

RewriteRule tag/([a-z]+)$ index.rhtml?tag=$1 [NC]
