
<% content_for :header do %>

<script type='text/javascript'>
	var _rate_data = <%== { :tag => count_data }.to_json %>;
</script>

<% end %>

<% content_for :body do %>

<div class='so-counter-list'>
	
	<div class='so-counter-block right'>
		<div class='so-counter tag'> <%= count_data.estimated_tag_value.to_n0 %> </div>
		<div class='so-label'>questions <span class='so-rate'><%= (count_data.rate_per_hour * 24).to_n0 %> / day</span> </div>
	</div>

	<div class='clear'></div>
</div>

<% end %>
