/* 
 * Default CSS file. Sets up a blank slate for everything
 * else.
 *
 * Nathan Reed, 08JUN2008
 */
html, body, form {
	margin: 0;
	padding: 0;
	font-family: arial;
}

p, div, span, h1, h2, h3, h4 {
	margin:  0;
	padding: 0;
}

.clear { clear: both; }
.left  { float: left; }
.right { float:right; }

a {
	color: #0099FF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}