#
#
# Nathan Reed, 18/11/2009

Options -Indexes
Options -Multiviews
DirectoryIndex index.rhtml index.html

#AddHandler rubypage .rhtml
#Action rubypage /analyticsoverflow/eruby.cgi


RewriteEngine On
RewriteBase /dev/stackoverflow_count/web/

RewriteRule tag/(.+)$ index.rhtml?tag=$1 [NC]
