<!doctype html public "-//w3c//dtd html 4.0 strict//en">
<html>
<head>
<title>Countdown to the 1 Billionth Tweet</title>
<!-- <script src='' type='text/javascript'></script> -->
<!-- <link rel="stylesheet" type="text/css" href="./css/default.css"/> -->
</head>
<body>

Stackoverflow Counter

</body>
</html>
